<% @title = "Home" %>

<h1>Introduction</h1>
<b>ToolTips</b> is a Javascript script to add "ToolTips" behavior to HTML elements. It can use local or remote
(AJAX) data. It <b>requires MooTools >= 1.2</b> and <b>MooTools Tips</b>.

<h1>Features</h1>

<b>ToolTips</b>'s features are:
<ul class='features'>
  <li>Uses local or remote data</li>
  <li>Creates multiple instances</li>
  <li>Customizable behaviours</li>
  <li>Full CSS styling</li>
  <li>Works on Safari, Firefox, IE 6/7, Chrome and Opera</li>
  <li>Documentation generated with PDoc</li>
  <li>Open source, full code is available on BitBucket</li>
</ul>

Check out examples and documentation for API details.

<h1>Download</h1>
<ul class='features'>
  <li>Full code is available from <a href="http://www.bitbucket.org/Bounga/tooltips">BitBucket</a></li>
  <li>Full code is available from a <a href="http://www.bitbucket.org/Bounga/tooltips/get/tip.zip">zip file</a></li>

  <li>When the sources are retrieved you can build a compressed version of the lib using : <code>$ rake build</code>. It'll build a YUI compressed version of the lib in 'dist' directory</li>
</ul>